.git
.github
.idea
.vscode
node_modules
vendor
.env
.env.*
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
tests
*.md
docker-compose*.yml
